{% extends "base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 border">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">LolaTech</h1>
        <h2 class="fs-4 text-muted mb-4">Sistema de Inventario</h2>
        <p class="col-md-8 fs-4">Bienvenido a LolaTech, su socio estratégico en soluciones tecnológicas. Gestionamos su
            inventario de manera eficiente, segura y escalable.</p>
        <hr class="my-4">
        <p>Utilice las herramientas a continuación para administrar sus recursos.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">